:root {
    --clr-white: hsl(0, 100%, 100%);
    --clr-black: hsl(0, 0%, 0%);

    --clr-grey-50: hsl(189, 47%, 97%);
    --clr-grey-200: hsl(185, 41%, 84%);
    --clr-grey-300: hsl(183, 19%, 68%);
    --clr-grey-400: hsl(184, 14%, 56%);
    --clr-grey-500: hsl(186, 14%, 43%);
    --clr-grey-550: hsl(180, 18%, 40%);
    --clr-grey-600: hsl(180, 25%, 32%);

    --clr-green-200: hsl(173, 61%, 77%);
    --clr-green-400: hsl(172, 67%, 45%);
    --clr-green-750: hsl(183, 79%, 24%);
    --clr-green-800: hsl(183, 85%, 21%);
    --clr-green-900: hsl(183, 100%, 15%);

    --clr-orange: hsl(13, 70%, 60%);
    
}

