@use 'fonts' as f;

@mixin text-preset-1 {
    @include f.font-space-mono;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: -1px;
}

@mixin text-preset-2 {
    @include f.font-space-mono;
    font-size: 32px;
    line-height: 47px;
    letter-spacing: -0.67px;
}

@mixin text-preset-3 {
    @include f.font-space-mono;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0px;
}

@mixin text-preset-4 {
    @include f.font-space-mono;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0px;
}

@mixin text-preset-5 {
    @include f.font-space-mono;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
}

@mixin text-preset-6 {
    @include f.font-space-mono;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0px;
}