@use '../globals/' as g;

header {
    
    width: 100%;
    height: 18vh;
    padding-block: 3.125rem g.$spacing-400;
    display: grid;
    // place-items: center;
    justify-content: center;
}


h1 {
    width: 5.4165rem;
    height: 3.321rem;
    text-transform: uppercase;
    @include g.text-preset-1;
    color: var(--clr-grey-600);
}